mixin achievements(data)
    .achievements
      .achievements__buttons
        a.achievements__button.button.button_general(href="#") EXHIBIT
        a.achievements__button.button.button_general(href="#") REGISTER
  
      ul.achievements__list
        li.achievements__item
          .achievements__item-title MINING
          .achievements__text
            .achievements__val 1 million
            | ounces of gold  <br/>produced in 2018

        li.achievements__item
          .achievements__item-title FORESTRY
          .achievements__text
            .achievements__val 1 billion+
            | board feet <br/> milled in 2018

        li.achievements__item
          .achievements__item-title ENERGY
          .achievements__text
            .achievements__val 250 million
            | in energy grid  <br/>infrastructure investments  <br/>next 15 years
