mixin cta(data)
  section.cta&attributes(attributes)
    .cta__container.container
      h2.cta__title Want to exhibit at CEN-CAN EXPO 2020?
      h2.cta__text Showcase your brand, launch your latest products and win business at the ultimate expo for recources
      a.cta__button.button.button_cta(href="#") ΕΧΗΙΒΙΤ