mixin sections(data)
  .sections
    .sections__container.container
      ul.sections__list
        li.sections__item
          a.sections__link(href="#")
            figure.sections__image
              img(src="assets/images/content/sections-thumb-1.jpg", alt="thumb 1")
            span.sections__item-title Job Fair
        li.sections__item
          a.sections__link(href="#")
            figure.sections__image
              img(src="assets/images/content/sections-thumb-2.jpg", alt="thumb 2")
            span.sections__item-title Aboriginal Forum
        li.sections__item
          a.sections__link(href="#")
            figure.sections__image
              img(src="assets/images/content/sections-thumb-3.jpg", alt="thumb 3")
            span.sections__item-title Demos

        li.sections__item
          a.sections__link(href="#")
            figure.sections__image
              img(src="assets/images/content/sections-thumb-3.jpg", alt="thumb 3")
            span.sections__item-title Competition