.hero
  position: relative
  background-position: 50% 0   
  background-size: cover
  background-repeat: no-repeat
  &__container
    padding-top: 52px
    padding-bottom: 30px
    height: 715px
  &__title
    color: #fff
    font-family: $oC
    font-weight: 700   
    font-size: 24px
  &__word
    margin-bottom: 38px
    display: block
    color: #fab500
    font-weight: 700
    line-height: 1.03 
  &__exhibits
    margin-bottom: 56px
    color: #FFF
    font-size: 30px 
    font-weight: 700
     
  &__date
    margin-bottom: 50px
    font-size: 18px

  &__date-start
    color: #FAB500
    font-weight: 700
    text-transform: uppercase
    
  &__date-place
    color: #FFF
    font-weight: 300 

  // &__social
