mixin hero(data)
  section.hero.lazy(data-bg="url('assets/images/general/hero-bg.jpg')")&attributes(attributes)
    +header()
    .hero__container.container
      .hero__w
        h1.hero__title Technology & Innovation in
          span.hero__word Mining
          span.hero__word Forestry
          span.hero__word Energy
      
        .hero__exhibits 300 + Exhibits

        .hero__date
          .hero__date-start september 10-11 2020
          .hero__date-place thunder bay - on, cle grounds


        .hero__links
          .hero__social.social
            .social__title FOLLOW CEN-CAN
            .social__links-w
              a.social__link(href="#")
                != pugHelpers.Icon.call(locals, {iconName: 'fb-icon', className: 'social__icon', iconWidth: '11', iconHeight: '22'})
              a.social__link(href="#")
                != pugHelpers.Icon.call(locals, {iconName: 'twitter-icon', className: 'social__icon', iconWidth: '20', iconHeight: '16'})
              a.social__link(href="#")
                != pugHelpers.Icon.call(locals, {iconName: 'instagram-icon', className: 'social__icon', iconWidth: '19', iconHeight: '20'})
              a.social__link(href="#")
                != pugHelpers.Icon.call(locals, {iconName: 'youtube-icon', className: 'social__icon', iconWidth: '22', iconHeight: '16'})
              a.social__link(href="#")
                != pugHelpers.Icon.call(locals, {iconName: 'rss-icon', className: 'social__icon', iconWidth: '19', iconHeight: '20'})

          .hero__app.app
            .app__title DOWNLOAD THE APP

            .app__links-w
              .app__link(href="#")
                != pugHelpers.Icon.call(locals, {iconName: 'iphone-icon', className: 'social__icon', iconWidth: '18', iconHeight: '21'})
              .app__link(href="#")
                != pugHelpers.Icon.call(locals, {iconName: 'android-icon', className: 'social__icon', iconWidth: '18', iconHeight: '22'})
              

      img.hero__image(src='assets/images/content/hero-img.png', srcset='assets/images/content/hero-img@2x.png 2x, assets/images/content/hero-img@3x.png 3x' alt="cen can expo")
      
      .hero__buttons
        a.hero__button.button.button_general(href="#") EXHIBIT
        a.hero__button.button.button_general(href="#") REGISTER



mixin hero-energy(data)
  section.hero.lazy(data-bg="url('assets/images/general/hero-bg.jpg')")&attributes(attributes)
    +header()
    .hero__title-w.container
      h1.hero__title Energy
    .hero__container.container
      .hero__w

        .hero__links
          .hero__social.social
            .social__title FOLLOW CEN-CAN
            .social__links-w
              a.social__link(href="#")
                != pugHelpers.Icon.call(locals, {iconName: 'fb-icon', className: 'social__icon', iconWidth: '11', iconHeight: '22'})
              a.social__link(href="#")
                != pugHelpers.Icon.call(locals, {iconName: 'twitter-icon', className: 'social__icon', iconWidth: '20', iconHeight: '16'})
              a.social__link(href="#")
                != pugHelpers.Icon.call(locals, {iconName: 'instagram-icon', className: 'social__icon', iconWidth: '19', iconHeight: '20'})
              a.social__link(href="#")
                != pugHelpers.Icon.call(locals, {iconName: 'youtube-icon', className: 'social__icon', iconWidth: '22', iconHeight: '16'})
              a.social__link(href="#")
                != pugHelpers.Icon.call(locals, {iconName: 'rss-icon', className: 'social__icon', iconWidth: '19', iconHeight: '20'})

          .hero__app.app
            .app__title DOWNLOAD THE APP

            .app__links-w
              .app__link(href="#")
                != pugHelpers.Icon.call(locals, {iconName: 'iphone-icon', className: 'social__icon', iconWidth: '18', iconHeight: '21'})
              .app__link(href="#")
                != pugHelpers.Icon.call(locals, {iconName: 'android-icon', className: 'social__icon', iconWidth: '18', iconHeight: '22'})
              

      img.hero__image(src='assets/images/content/hero-energy.png', srcset='assets/images/content/hero-energy@2x.png 2x, assets/images/content/hero-energy@3x.png 3x' alt="cen can expo")
      
      .hero__buttons
        a.hero__button.button.button_general(href="#") EXHIBIT
        a.hero__button.button.button_general(href="#") REGISTER


mixin hero-forest(data)
  section.hero.lazy(data-bg="url('assets/images/general/hero-bg.jpg')")&attributes(attributes)
    +header()
    .hero__title-w.container
      h1.hero__title Forestry
    .hero__container.container
      .hero__w

        .hero__links
          .hero__social.social
            .social__title FOLLOW CEN-CAN
            .social__links-w
              a.social__link(href="#")
                != pugHelpers.Icon.call(locals, {iconName: 'fb-icon', className: 'social__icon', iconWidth: '11', iconHeight: '22'})
              a.social__link(href="#")
                != pugHelpers.Icon.call(locals, {iconName: 'twitter-icon', className: 'social__icon', iconWidth: '20', iconHeight: '16'})
              a.social__link(href="#")
                != pugHelpers.Icon.call(locals, {iconName: 'instagram-icon', className: 'social__icon', iconWidth: '19', iconHeight: '20'})
              a.social__link(href="#")
                != pugHelpers.Icon.call(locals, {iconName: 'youtube-icon', className: 'social__icon', iconWidth: '22', iconHeight: '16'})
              a.social__link(href="#")
                != pugHelpers.Icon.call(locals, {iconName: 'rss-icon', className: 'social__icon', iconWidth: '19', iconHeight: '20'})

          .hero__app.app
            .app__title DOWNLOAD THE APP

            .app__links-w
              .app__link(href="#")
                != pugHelpers.Icon.call(locals, {iconName: 'iphone-icon', className: 'social__icon', iconWidth: '18', iconHeight: '21'})
              .app__link(href="#")
                != pugHelpers.Icon.call(locals, {iconName: 'android-icon', className: 'social__icon', iconWidth: '18', iconHeight: '22'})
              

      img.hero__image(src='assets/images/content/hero-forest.png', srcset='assets/images/content/hero-forest@2x.png 2x, assets/images/content/hero-forest@3x.png 3x' alt="cen can expo")
      
      .hero__buttons
        a.hero__button.button.button_general(href="#") EXHIBIT
        a.hero__button.button.button_general(href="#") REGISTER


mixin hero-mining(data)
  section.hero.lazy(data-bg="url('assets/images/general/hero-bg.jpg')")&attributes(attributes)
    +header()
    .hero__title-w.container
      h1.hero__title Mining

    .hero__container.container
      .hero__w

        .hero__links
          .hero__social.social
            .social__title FOLLOW CEN-CAN
            .social__links-w
              a.social__link(href="#")
                != pugHelpers.Icon.call(locals, {iconName: 'fb-icon', className: 'social__icon', iconWidth: '11', iconHeight: '22'})
              a.social__link(href="#")
                != pugHelpers.Icon.call(locals, {iconName: 'twitter-icon', className: 'social__icon', iconWidth: '20', iconHeight: '16'})
              a.social__link(href="#")
                != pugHelpers.Icon.call(locals, {iconName: 'instagram-icon', className: 'social__icon', iconWidth: '19', iconHeight: '20'})
              a.social__link(href="#")
                != pugHelpers.Icon.call(locals, {iconName: 'youtube-icon', className: 'social__icon', iconWidth: '22', iconHeight: '16'})
              a.social__link(href="#")
                != pugHelpers.Icon.call(locals, {iconName: 'rss-icon', className: 'social__icon', iconWidth: '19', iconHeight: '20'})

          .hero__app.app
            .app__title DOWNLOAD THE APP

            .app__links-w
              .app__link(href="#")
                != pugHelpers.Icon.call(locals, {iconName: 'iphone-icon', className: 'social__icon', iconWidth: '18', iconHeight: '21'})
              .app__link(href="#")
                != pugHelpers.Icon.call(locals, {iconName: 'android-icon', className: 'social__icon', iconWidth: '18', iconHeight: '22'})
              

      img.hero__image(src='assets/images/content/hero-mining.png', srcset='assets/images/content/hero-mining@2x.png 2x, assets/images/content/hero-mining@3x.png 3x' alt="cen can expo")
      
      .hero__buttons
        a.hero__button.button.button_general(href="#") EXHIBIT
        a.hero__button.button.button_general(href="#") REGISTER