.hero
  position: relative
  // height: 715px
  background-color: #1c3343
  background-position: 50% 0   
  background-size: cover
  background-repeat: no-repeat
  overflow: hidden

  @include r(1024px) 
    // background-position: 0   
  
    height: auto


  &__container
    position: relative
    padding-top: 70px
    padding-bottom: 30px
    
    display: flex
    align-items: flex-end

    // @include r(1025px)
    //   padding-bottom: 72px

    @include r(610px)
      padding-bottom: 72px

  &__title
    margin-bottom: 46px
    color: #fff
    font-family: $oC
    font-weight: 700   
    font-size: 24px
  &__word
    display: block
    color: #fab500
    font-size: 64px
    font-weight: 700
    line-height: 1.03 
    &:first-child
      margin-top: 12px
  &__exhibits
    margin-bottom: 64px
    color: #FFF
    font-size: 30px 
    font-weight: 700
     
  &__date
    margin-bottom: 56px
    font-size: 18px
    text-transform: uppercase

  &__date-start
    margin-bottom: 6px
    color: #FAB500
    font-weight: 700
    text-transform: uppercase
    
  &__date-place
    color: #FFF
    font-weight: 300

  &__social
    margin-right: auto
    @include r(895px)
      margin-bottom: 15px

  &__image
    position: relative
    bottom: -31px
    right: 250px
    // margin-top: -8px
    flex-shrink: 1
    
    // width: 955px
    // height: 522px
    @include r(1025px)
      // position: relative
      bottom: -31px
      
    @include r(895px)
      right: 100px

    @include r(749px)
      display: none
      // width: 66% 
    
  &__image-first,
  &__image-second,
  &__image-third
    position: absolute
    top: 0
    display: block
  
  &__image-first
    top: 0
    left: 0

  &__image-second
    top: auto
    bottom: 0
    left: 200px
    
  &__image-third
    top: 38px
    right: 70px
    @include bg($hero-img-3)


  &__links
    display: flex
    width: 545px
    @include r(895px)
      max-width: 284px
      width: 100%
      flex-wrap: wrap

  &__buttons
    position: absolute
    bottom: 0
    // left: 0
    right: 15px
    max-width: 288px
    width: 100%
    display: flex
    background: transparent 
    
    @include r(610px)
      left: 15px
      right: auto
      max-width: 300px
    
  &__button
    margin-bottom: 0
    margin-right: 2px
    flex-grow: 1
    color: #1b3242
    &:last-child
      margin-right: 0


.hero_theme_main
  .hero__container
    height: 580px
  .hero__w
    height: 100vh
    display: flex
    flex-direction: column

  .hero__title
    margin-top: auto
    margin-bottom: auto
    color: #fab500
    font-family: $o
    font-size: 72px

    font-weight: 800
    line-height: 1
  
  .hero__image
    right: 0


.hero_theme_forest
  .hero__image
    bottom: 100px
  
.hero_theme_mining
  .hero__image
    right: 70px