mixin featured(data)
    .featured
      ul.featured__list
        li.featured__item
          a.featured__link(href="#")
            figure.featured__image
              img(src="assets/images/content/featured-thumb-1.jpg", alt="thumb 1")
            span.featured__item-title Featured Exhibitor
        li.featured__item
          a.featured__link(href="#")
            figure.featured__image
              img(src="assets/images/content/featured-thumb-2.jpg", alt="thumb 2")
            span.featured__item-title Featured Product
        li.featured__item
          a.featured__link(href="#")
            figure.featured__image
              img(src="assets/images/content/featured-thumb-3.jpg", alt="thumb 3")
            span.featured__item-title Gala Dinner / Social